@import "./GlobalStyles.css";

.database {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--dark-edunomics-gray);
}

.button-panel {
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: var(--large-padding) 0;
    overflow-y: scroll;
}

.database-graph-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--edunomics-gray);
}