:root {
    --edunomics-green: #64A70B;
    --darker-green: #096211;
    --edunomics-gray: #BBBCBC;
    --dark-edunomics-gray: #595959;
    --large-font: 2em;
    --medium-font: 1em;
    --small-font: 0.75em;
    --large-padding: 2em;
    --medium-padding: 1.25em;
    --small-padding: 0.75em;
    --small-rounded-corners: 1em;
}